---
title: Assemble Clean Slate
---
<section>
  <h1>this works</h1>
  {{#markdown}}
  # Hello World!
  {{/markdown}}
</section>

<section>
  <h1>this does too!</h1>
  {{#markdown}}
  {{read foo.bar}}
  {{/markdown}}
</section>
