    <!-- build:js scripts/vendor.js -->
    <script src="/scripts/vendor/jquery-1.11.3.min.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/site.js -->
    <script src="scripts/site.js"></script>
    <!-- endbuild -->
  </body>
</html>
